
<form action="/square_root/results">
  <div>
    <label for="number_root_input"> Enter a number </label>
    <input id="number_root_input" type="text" name="users_number" placeholder="What number do you want to square root">
  </div>

  <button> Calculate Square Root </button> 
</form>
